@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply transition-all duration-300 ease-in-out;
  }

  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  }

  /* Custom Page Component */

  .root {
    @apply min-h-full;
  }

  nav {
    @apply h-[4rem];
  }

  main {
    @apply h-[calc(100vh-4rem)] overflow-y-scroll;
  }

  footer {
    @apply h-[4rem];
  }

  /* Customize Scrollbar */
  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply opacity-0;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400;
  }

  .dark ::-webkit-scrollbar-track {
    @apply opacity-0;
  }

  .dark ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 hover:bg-gray-500;
  }
}

@layer components {
  .text-muted {
    @apply text-gray-500 dark:text-gray-400;
  }

  .text-disabled {
    @apply text-gray-400 dark:text-gray-500;
  }

  .border {
    @apply border-gray-200 dark:border-gray-700;
  }

  .input {
    @apply bg-white dark:bg-gray-800;
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
}
